Repository microsoft/dusseldorf, pull requests merged in 2025-03, with the labels that each got.

#48 Update main.py
  dusseldorf/api/src/api/main.py
Labels: root, Docs, API, UI, dns-listener, http-listener, zentral, release

#47 adding changes for a11y
  dusseldorf/ui/src/Components/AddBulkZoneDialog.tsx
  dusseldorf/ui/src/Components/AddSingleZoneDialog.tsx
Labels: UI

#50 Update mongo-blob.yaml
  docs/helm/templates/mongo-blob.yaml
Labels: root, Docs, API, UI, dns-listener, http-listener, zentral, release

#51 Update mongo-blob.yaml
  docs/helm/templates/mongo-blob.yaml
Labels: root, Docs, API, UI, dns-listener, http-listener, zentral, release

#56 Update requests_controller.py
  dusseldorf/api/src/api/controllers/requests_controller.py
Labels: root, Docs, API, UI, dns-listener, http-listener, zentral, release

#58 adding copy button again to the zone title in the web UI
  dusseldorf/ui/src/screens/ZoneDetailsScreen.tsx
Labels: UI

#59 Update label.yml
  .github/workflows/label.yml
Labels: release
